/* Specs
 *
 * 1/3
 *   background: grey 900
 *   active: grey 100
 *   inactive: grey 500
 *
 * 2/3
 *   background: grey 300
 *   active: grey 900 + some extra darkness
 *   active background: grey 200
 *   inactive: grey 500
 *   h1 name, h3 description, <hr>
 *
 * 3/3
 *   background: grey 100
 *   content
 * */

/* Content
 * 
 * 1/3:
 *   Dashboard [/dashboard]
 *   Servers   [/servers]
 *   Jobs      [/jobs]
 *   Endpoints [/endpoints]
 *   Admin     [/admin]
 * 
 * 2/3:
 *   Dashboard
 *     Overview [/dash/overview]
 *     History  [/dash/history]
 *   Servers
 *     All Servers [/servers/all]
 *   Jobs
 *     All Jobs    [/jobs/all]
 *   Restore
 *     Browse Files [/restore/browse]
 *     Restore Full [/restore/revert]
 *   Admin
 *     Users [/admin/users]
 *     
 * 3/3:
 *   Dashboard [/dashboard/history]
 *
 * */

body {
	font-family: "Arial", sans-serif;
}

.container, html, body {
	height: 100%;
	margin: 0;
}

.container {
	display: flex;
	animation: fadeEffect 0.7s;
	-webkit-animation: fadeEffect 0.7s;
	-moz-animation: fadeEffect 0.7s;
}

@-webkit-keyframes fadeEffect {
	from {opacity: 0.6;}
	to {opacity: 1;}
}
@-moz-keyframes fadeEffect {
	from {opacity: 0.6;}
	to {opacity: 1;}
}
@keyframes fadeEffect {
	from {opacity: 0.6;}
	to {opacity: 1;}
}

/* Menu : column 1
 * */
.menu {
	background: #212121;
	padding: 2% 0 0 0;
	order: 0;
	flex: 1 8.4%;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.menu li a {
	display: block;
	padding: 15% 0 15% 0;
}

.menu li svg {
	fill: #757575;
	width: 35%;
}

.menu .current svg {
	fill: #F5F5F5;
}

.menu li:hover svg {
	fill: #F5F5F5;
}

/* Submenu : column 2
 * */
.submenu {
	background: #EEEEEE;
	padding: 2em 1em 2em 1em;
	order: 1;
	flex: 1 21.6%;
	overflow: hidden;
	overflow-y: scroll;
}

.submenu h2 {
	color: #212121;
}

.submenu h3 {
	color: #757575;
	font-size: 100%;
}

.submenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.submenu li {
	padding: 0.2em 0 0.2em 0;
}

.submenu li a {
	display: block;
	color: #212121;

	font-size: 140%;
	text-decoration: none;
}

.submenu li:hover {
	background: #FAFAFA;
}

.submenu .current {
	background: #FAFAFA
}

/* Content : column 3
 * */
.content {
	background: #F5F5F5;
	padding: 1em 2em 1em 2em;
	order: 2;
	flex: 1 70%;

	overflow: hidden;
	overflow-y: scroll;
}

.content button {
	float: right;
	display: inline-block;
	background-color: #212121;
	color: #AAAAAA;
	border: none;
	text-align: center;
	text-decoration: none;
	margin: -1em 0em 0em 1em;
	height: 2em;
	font-size: 16px;
}

.content ul {
	list-style-type: none;
	padding: 1em;

	animation-timing-function: ease-out;
	animation: slideEffect 0.5s;
	-webkit-animation: slideEffect 0.5s;
	-moz-animation: slideEffect 0.5s;
}

@-webkit-keyframes slideEffect {
	0% {transform: translateY(100%);}
	100% {transform: translateY(0%);}
}
@-moz-keyframes slideEffect {
	0% {transform: translateY(100%);}
	100% {transform: translateY(0%);}
}
@keyframes slideEffect {
	0% {transform: translateY(100%);}
	100% {transform: translateY(0%);}
}

.content li {
	background: #EEEEEE;
	margin: 0.5em 0em 0.5em 0em;
	padding: 0.5em 0em 0.5em 0em;
	border: 1.5px solid #AAAAAA;

	animation-timing-function: ease-out;
	animation: gapEffect 1s;
	-webkit-animation: gapEffect 1s;
	-moz-animation: gapEffect 1s;
}

@-webkit-keyframes gapEffect {
	0% {margin: 5em 0em 5em 0em;}
	100% {margin: 0.5em 0em 0.5em 0em;}
}
@-moz-keyframes gapEffect {
	0% {margin: 5em 0em 5em 0em;}
	100% {margin: 0.5em 0em 0.5em 0em;}
}
@keyframes gapEffect {
	0% {margin: 5em 0em 5em 0em;}
	100% {margin: 0.5em 0em 0.5em 0em;}
}

.content li a {
	display: block;
	text-decoration: none;
	color: #404040;
	padding: 0em 0.5em 0em 0.5em;
}
