/* Layout
 * 2  4    14
 *|  |    |              |
 *|  |    |              |
 *|  |    |              |
 *|  |    |              |
 *|  |    |              |
 *|  |    |              |
 *|  |    |              |
 *
 * */

/* Specs
 *
 * 1/3
 *   background: grey 900
 *   active: grey 100
 *   inactive: grey 500
 *
 * 2/3
 *   background: grey 300
 *   active: grey 900 + some extra darkness
 *   active background: grey 200
 *   inactive: grey 500
 *   h1 name, h3 description, <hr>
 *
 * 3/3
 *   background: grey 100
 *   content
 * */

/* Content
 * 
 * 1/3:
 *   Dashboard [/dashboard]
 *   Servers   [/servers]
 *   Jobs      [/jobs]
 *   Endpoints [/endpoints]
 *   Admin     [/admin]
 * 
 * 2/3:
 *   Dashboard
 *     Overview [/dashboard/overview]
 *     History  [/dashboard/history]
 *   Servers
 *     List    [/servers/list]
 *     
 * 3/3:
 *   Dashboard [/dashboard/history]
 *
 * */

/* Site design
 * Single main page @ /
 * Tabs list live feed of server stuff, when selected
 *
 * Status tab displays AJAX feed of /status handler
 * Servers tab displays AJAX feed of /servers handler
 * Jobs tab display AJAX feed of /jobs handler
 * History tab displays AJAX feed of /history handler
 * Admin tab displays AJAX feed of /admin handler
 *
 * */

body {
	font-family: "Lato", sans-serif;
}

.container, html, body {
	height: 100%;
	margin: 0;
}

.container {
	display: flex;
}

.menu {
	background: #212121;
	height: 100%;
	order: 0;
	flex: 1 10%;
}

.menu ul {
}

.menu svg {
	fill: #9E9E9E;
}

.menu svg:hover {
	fill: #F5F5F5;
}

.submenu {
	background: #EEEEEE;
	height: 100%;
	padding: 2em 1em 2em 1em;
	order: 1;
	flex: 1 20%;
}

.content {
	background: #F5F5F5;
	height: 100%;
	order: 2;
	flex: 1 70%;
}
